.foodTypes {
    color: #404040;
    font-style: italic;
    margin: 5px 5px 0 5px;
    font-size: min(8vw,16px);
}

.priceRange {
    font-size: min(8vw,17px);
    font-style: italic;
    color: #404040;
    font-weight: 600;
    margin-top: 10px;
}

.foodTilesContainer {
    padding: 10px;
}

.foodTile {
    background-color: rgb(242, 242, 242, 0.9);
    padding: 50px 5px;
    margin: 0 7px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="foodTilesContainer"] {
        padding: 0 10px;
    }
    [class*="foodTile"] {
        margin: 5px 0;
    }
  }

.viewDetails {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid#737373;
    background-color: transparent;
    color: #808080;
    font-family: sans-serif;
    font-size: min(7vw, 13px);
    text-decoration: none;
    transition: 0.2s;
    outline: none;
    border-color: #808080;
}

.viewDetails:hover {
    border-color: #e07f3e;
    background-color: #e07f3e;
    color: #f2f2f2;
}

.seeMore {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 60px;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid#737373;
    background-color: rgb(242, 242, 242, 0.9);
    color: #404040;
    font-family: sans-serif;
    font-size: min(7vw, 13px);
    text-decoration: none;
    transition: 0.2s;
    outline: none;
    border-color: #404040;
}

.seeMore:hover {
    border-color: #e07f3e;
    background-color: #e07f3e;
    color: #f2f2f2;
}

.foodPlaceMain .rowcenter {
    margin: 0;
}