/* -----------ELBUSOG CSS FRAMEWORK----------- */
/* MADE BY ELBUSOG TEAM FOR THE ELBUSOG WEBSITE */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

/* REMOVE BROWSER DEFAULT MARGIN */
body {
    margin: 0;
}

/* -----FOR RESPONSIVE DESIGN */
* {
    box-sizing: border-box;
}

/* For mobile phones */
[class*="col-"] {
    /* border: 1px solid black; for debugging */
    float: left;
    align-items: center;
    width: 100%;
    position: relative;
}

/* For desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    /* position: relative is for banners with text */
    .col-12 {width: 100%; position: relative}
    /* rowcenter only for desktop screens */
    .rowcenter {
        display: flex;
        justify-content: center;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.rowcenter::after {
    content: "";
    clear: both;
    display: table;
}

.force-center {
    display: flex;
    justify-content: center;
}
/* ----------FORMATTING---------- */
/* -----HEADINGS AND PARAGRAPH */
@font-face {
    font-family: Satisfy;
    src: url(../assets/Satisfy-Regular.ttf);
}

h1 {
    /* font-size: 8vw; */
    font-size: max(8vw, 52px);
    font-family: Satisfy;
    font-weight: normal;
    margin: 0;
    padding: 0 10px;
}
h2 {
    /* font-size: 7vw; */
    font-size: max(8vw, 48px);
    font-family: Satisfy;
    font-weight: normal;
    margin: 0;
    padding: 0 10px;
}
h3 {
    /* font-size: 4vw; */
    font-size: max(4vw, 36px);
    font-family: Satisfy;
    font-weight: normal;
    margin: 0;
}
h4 {
    /* font-size: 36px; */
    font-size: max(4vw, 30px);
    font-family: Satisfy;
    font-weight: normal;
    margin: 0;
}
h5 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
h6 {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 0;
}

.justify {
    text-align: justify;
}

.left-desktop-center-phone {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .left-desktop-center-phone {
        text-align: center;
    }
}

/* make text white */
.white {
    color: white;
}

/* -----MARGINS */
/* ganto tayo maglalagay ng mga margins ng tiles at mga elements.
pag may kailangan pa kayong margin, lagay lang kayo,
ex. .margin-lr-100 {margin-left: 100px; margin-right: 100px;}
kung kailangan nyo halimbawa ng 100px margin sa left and right.
tas yon ang iadd nyo sa style ng div

naming:
"margin-" + "t" or "b" or "l" or "r" or combinations + "-" + size in px

pwede rin kayo gumawa ng pang isang direction lang
ex. .margin-b-20 {margin-bottom: 20px}
kung kailangan nyo halimbawa ng 20px margin sa bottom lang

magdagdag lang kayo dito */
.margin-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-lr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-lr-30 {
	margin-left: 30px;
	margin-right: 30px;
}

.margin-lr-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.margin-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-tb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-tb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-tb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* -----PADDING */
/* same as margins. dagdag lang kayo pag kailangan. */
.padding-tb-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-tb-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-tb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.padding-tb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-lr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-lr-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-lr-40 {
    padding-left: 40px;
    padding-right: 40px;
}

/* ----------WEBSITE ELEMENTS---------- */
/* -----FIXED NAVBAR */
.fixedNavbar {
    position: absolute;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.fixedNavbar a {
    list-style-type: none;
    margin: 0;
    padding-left: 0; /*to remove list indent*/
}

.fixedNavbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 30px 15px;
    font-family: sans-serif;
    text-decoration: none;
}

.fixedNavbar a:hover {
    background-color: #ddd;
    color: black;
}
/* for both navbar and sticky navbar */
.burger {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 20px;
}

/* -----STICKY NAVBAR */
.stickyNavbar {
    background-color: #111;
    position: fixed;
    top: -80px;
    width: 100%;
    transition: top 0.3s;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.stickyNavbar a {
    margin: 0;
    padding-left: 0; /*to remove list indent*/
}

.stickyNavbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 30px 15px;
    font-family: sans-serif;
    text-decoration: none;
}

.stickyNavbar a:hover {
    background-color: #ddd;
    color: black;
}

/* NAVBAR AND STICKY NAVBAR RESPONSIVE DESIGN */
/* hide the top links in mobile phones */
@media only screen and (max-width: 768px) {
    .stickyNavbar a {
        display: none;
    }
    .fixedNavbar a {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .burger {
        display: none;
    }
}

/* -----TEXT IN BANNERS */
.pretitle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
}

.subtitle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
}

/* -----IMAGES */
.navbarLogo {
    margin: 8px 20px 0px 20px;
    width: 60px;
    height: 60px;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner-no-height {
    width: 100%;
    object-fit: cover;
}

.banner-auto-height {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.userThumb {
    margin: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* be aware, food icon has a margin bottom */
.foodIcon {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.foodLargePic {
    width: 100%;
    height: 100%;
}

.devPics {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* -----BUTTONS */
.button {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #e07f3e;
    background-color: white;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    transition: 0.2s;
}

.button:hover {
    background-color: #e07f3e;
    color: white;
}

.buttonTranslucent {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #e0752e;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
} 

.buttonTranslucent:hover {
    background-color: #e0752e;
    color: white;
}


.buttonBack {
    margin-left: 17px;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 0px solid #e07f3e;
    background-color: white;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    text-decoration: none;
    transition: 0.2s;
}
.buttonBack:hover {
    background-color: #e07f3e;
    color: white;
}

/* -----TEXTBOX */
.textbox {
    width: 100%;
    padding: 15px;
    border: 1px solid #e07f3e;
    border-radius: 30px;
    font-size: 18px;
}

.logintextbox {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 30px;
    font-size: 18px;
    outline: none;
}

/* -----TILES */
.sampletile {
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.tile {
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    background-color: white;
    text-align: center;
}

.logintile {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: 2px 2px 20px 5px #888888;
    width: 60%;
    height: 60%;
    border-radius: 10px;
}


/* -----FOOTER */
.footer {
    margin-top: 30px;
    padding: 30px 50px 150px 50px;
    background-color: #111;
    color: #BBB;
}


/* -----AARONS RADIO BUTTONS */

/* The container */
.radContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radButton {
  position: absolute;
  top: -5px;
  left: -10px;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radContainer:hover input ~ .radButton {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radContainer input:checked ~ .radButton {
  background-color: orange;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radButton:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radContainer input:checked ~ .radButton:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radContainer .radButton:after {
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}