.left-navbar {
    position: fixed;
    top: 80px;
    left: 10px;
    padding: 10px 0;
    transition: top 0.3s;
    z-index: 3;
    display: inline;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
    background-color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

.left-navbar-entry {
    color: black;
    text-align: center;
    font-family: sans-serif;
    padding: 20px 50px;
}

.left-navbar-entry:hover {
    background-color: #e0752e;
    color: white;
}