.left-navbar {
    position: fixed;
    top: 75px;
    left: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 3;
    background-color: #111;
    text-align: center;
}

a {
    text-decoration: none;
}

.left-navbar-entry {
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px 50px;
}

.left-navbar-entry:hover {
    background-color: #e0752e;
    color: black;
}