.profileTiles {
    background-color: rgba(242, 242, 242, 0.9);
    margin-top: 110px;
    margin-bottom: 50px;
    color: #404040;
    box-shadow: 2px 2px 10px #000000;
}

.profilePic {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border: 3px solid #e0752e;
    border-radius: 50%;
}

.userName {
    color: #404040;
    font-size: 28px;
}

.margin-t-10 {
    margin-top: 5px;
    font-size: 17px;
    color: #737373;
}

.italic {
    font-style: italic;
}

hr {
    width: 50px;
    border-top: 5px dotted #e0752e;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.editProfile {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid#737373;
    background-color: transparent;
    color: #737373;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
    transition: 0.2s;
    outline: none;
}

.editProfile:hover {
    border-color: #e0752e;
    background-color: #e0752e;
    color: #f2f2f2;
}

.addBusiness {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid#737373;
    background-color: transparent;
    color: #737373;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
    outline: none;
}

.addBusiness:hover {
    border-color: #e0752e;
    background-color: #e0752e;
    color: #f2f2f2;
}